@model IEnumerable<AdminBooksPanel.Models.Books>

@{
    ViewData["Title"] = "Books";
}
<div>
    <button class="btn btn-danger" style="float: right;" onclick="location.href='@Url.Action("Login", "User")'">Logout</button>
</div>
<h2>Books Library</h2>

<div class="card-deck">
    @foreach (var item in Model)
    {
        @Html.Partial("BookCard", item);
    }
</div>
